/* font size, weight */
@mixin large-title {
    font-size: 1.375rem;
    font-weight: 600;
}

@mixin mid-title-semibold {
    font-size: 1rem;
    font-weight: 600;
}

@mixin mid-title-regular {
    font-size: 1rem;
    font-weight: 400;
}

@mixin small-title {
    font-size: 0.875rem;
    font-weight: 600;
}

@mixin plain-text-header {
    font-size: 0.875rem;
    font-weight: 600;
}

@mixin plain-subtext {
    font-size: 0.875rem;
    font-weight: 400;
}

@mixin plain-text {
    font-size: 0.75rem;
    font-weight: 400;
}

@mixin plain-text-key {
    font-size: 0.75rem;
    font-weight: 600;
}


/* color */
$bg-white: #FFFFFF;
$bg-yellow-light: #FFF6E6;
$bg-yellow-normal: #FDEFD8;
$bg-red-light: #F3CAB0; 
$bg-red-normal: #F0BD9C;
$bg-gray-light: #F1F1F180;
$bg-gray-normal: #F1F1F1;
$font-white: #FFFFFF;
$font-blue: #007DFF;
$font-red-light: #D27575;
$font-red: #511F03;
$font-gray: #a5a5a5;
$font-black: #000000;

$vns: () !default;
$vns: map-merge($map1: (
    "default": #a09daf,
    "emphasis": #CA5F5F,
    "suspense": #ea9081,
    "comparison": #efbd9c,
    "cohering": #e2cc6d,
    "ellipsis": #c0c96f,
    "focalization": #799ea8,
    "concretization": #48819b,
    "twist": #706a91
), $map2: $vns);

@each $name, $color in $vns {
    .vns-#{$name},
    .#{$name} .modal-header,
    .#{$name} .modal-footer,
    .#{$name} .scrollSpy-btn-symbol,
    .#{$name} .reminder-symbol,
    .#{$name} .card-header {
        background-color: $color !important;
    }
}


/* letter spacing */
// @for $width from 0 through 10 {
//     .narrow-spacing-#{$width} {
//         letter-spacing: (-0.1px * $width) !important;
//     }
// }


/* EL symbol for sidebar filter panel */ 
$el_btn: () !default;
$el_btn: map-merge($map1: (
    "The-elements-of-visualization": 0px,
    "Elements-added-to-visualization": -20px,
    "Camera": -40px,
    "Timeline": -60px
), $map2: $el_btn);

@each $name, $y in $el_btn {
    .el-#{$name} .filter-btn-symbol {
        background-image: url("../icon/icon_sprite.svg");
        background-position: -60px $y;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
    }
}


/* EL symbol for card header */
$el_card: () !default;
$el_card: map-merge($map1: (
    "The-elements-of-visualization": 0px,
    "Elements-added-to-visualization": -48px,
    "Camera": -96px,
    "Timeline": -144px,
), $map2: $el_card);

@each $name, $y in $el_card {
    .el-#{$name} .card-header > .header-symbol {
        background-image: url("../icon/icon_sprite.svg");
        background-position: 0 $y;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
    }
}


/* default height */
$navbar-top-height: 3.75rem;
$footer-height: 2.75rem;
$card-between-distance: 1.25rem;
$card-radius: 0.375rem;
$about-page-width: 60rem + $card-between-distance;
$footer-height: 2.75rem;


/* circle symbol */
@mixin circle-symbol {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50vh;
    display: inline-block;
    flex-shrink: 0;
}

/* main page height */
@mixin page-height {
    height: calc(100vh - #{$navbar-top-height});
    overflow-y: auto;
    // overflow-x: hidden;
}

@mixin inner-page-height {
    min-height: calc(100vh - #{$navbar-top-height} - #{$footer-height});
    // overflow-y: auto;
    // overflow-x: hidden;
}

/* container background image */
@mixin container-bg-image {
    background-image: url(../image/background.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* card image background */
@mixin card-bg-image {
    background-image: url(../image/loading.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* para card image background */
@mixin about-para-bg {
    background-image: url(../image/about-text-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $bg-white;
}

@mixin downloads-para-bg-l {
    background-image: url(../image/text-l-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $bg-white;
}

@mixin downloads-para-bg-r {
    background-image: url(../image/text-r-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $bg-white;
}