@media (min-width: 768px){

  #filter-panel {
    width: 15.5rem;
    max-width: 15.5rem;

    padding-bottom: 1.375rem;
    padding-top: 1.375rem;
  }

  .panel-title {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .btn-panel + .btn-panel {
    margin-top: 1.75rem;
  }

  .display-title {
    padding-left: 0.5rem;
  }

  .display-title span {
    left: 1.875rem;
  }

  .card-deck {
    margin-left: -2rem;
  }

  .card-deck > .trans-3d {
    padding-left: 2rem;
  }
}

@media (max-width: 767px){

  #filter-panel {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
  }

  .panel-title {
    font-size: 0.75rem;
  }

  .btn-panel + .btn-panel {
    margin-top: 0.25rem;
  }

  .display-title {
    padding-left: 1.5rem;
  }

  .display-title span {
    left: 1.25rem;
  }

  #card-display{
    padding-top: 1rem;
  }
}

@media (min-width: 576px) {

  .container {
    max-width: 100%;
    width: 100%;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  header.jumbotron {
    background-image: url(assets/media/banner-s.png), linear-gradient(to right, #9EC5F2 , #F3A59D);
    background-position: right;
    padding-top: 0.625rem;
    margin-bottom: 0;
    background-size: auto 100%;
  }

  /* .card-deck .card { */
      /* -ms-flex: 1 0 0%;
      flex: 1 0 0%; */
      /* max-width: 22.5rem;
      width: 22.5rem; */
      /* margin-right: 1rem;
      margin-bottom: 0;
      margin-left: 1rem;
  } */

  #card-display {
    padding-top: 1.375rem;
    padding-left: 2.75rem;
    padding-right: 7rem;
    /* max-width: 60.5rem; */
    /* width: 60.5rem; */
  }

  .card-deck > .trans-3d{
    max-width: 25.5rem;
  }

  #filter-panel {
    /* width: 15.375rem; */
    min-width: 15.375rem;
    overflow-x: hidden;
    padding-left: 1.25rem;
    padding-right: 0.75rem;
  }

  .title-bold {
    font-size: 1.75rem;
    /* font-weight: bold; */
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0;

  }

  p.lead {
    font-size: 0.875rem;
    font-weight: bold;
  }

  .modal-dialog {
    max-width: 600px;
  }
}

@media(max-width: 575px) {
  header.jumbotron {
    background-image: url(assets/media/banner-mobile.png), linear-gradient(to right, #9EC5F2 , #F3A59D);
    padding-top: 0.25rem;
    margin-bottom: 0;
    background-size: auto 100%;
    background-position: center;
  }

  .title-bold {
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: -0.25rem;
  }

  p.lead {
    font-size: 0.625rem;
    font-weight: 600;
  }

  .input-group {
    width: 13rem;
  }

  .card-deck > .trans-3d {
    max-width: 21.375rem;
    padding-left: 0.5rem;
    padding-right: auto;
  }
}

* {
  outline: none;
  outline-color: transparent;
  text-shadow: none;
}

body {
  background-image: url(assets/media/bg05.png);
  background-repeat: repeat;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* font */
.title-bold, .panel-title, .display-title, .modal-title,
.card-header > h4,
.card-body > .card-subtitle,
.card-body > h6,
.caption span {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn-primary-group > .btn,
.btn-secondary-group > .btn {
  font-family: PingFangSC, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  color: #333333;
}

.form-control, .display-desc, .card-text, .caption, p.lead,
.card-header > p,
.card-bottom > .btn,
.card-bottom > .card-num {
  font-family: PingFangSC, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.form-control, .display-desc, .card-text, .caption, .btn,
.card-header > p,
.card-bottom > .btn,
.card-bottom > .card-num {
  font-size: 0.75rem;
}


/* animation & transaction */

.col-md-3.trans-3d {
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}

header.jumbotron {
  padding-bottom: 0.625rem;
  background-color: transparent;
  background-repeat: no-repeat;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* .jumbotron {
  background-color: #F6F6F6;
  background-image: linear-gradient(to right, #9EC5F2 , #F3A59D);
  background-image: url(assets/media/banner.png);
  background-size:100% auto;
  background-repeat:no-repeat;
  margin-bottom: 0;
} */

.title-bold {
  line-height: 2rem;
}

p.lead {
  margin-bottom: 0.25rem;
  color: #333333;
}

.form-control, .input-group  .btn {
  height: 1.75rem;
  max-height: 1.75rem;
}

.form-control {
  letter-spacing: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1rem;

  border-left: 1px solid #1D1D1D;
  border-top: 1px solid #1D1D1D;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #1D1D1D;
  border-radius: 1.25rem 0px 0px 1.25rem;

  background-color: transparent;
}

.input-group {
  /* min-width: 15.25rem; */
  font-size: 0.75rem;
}

.input-group  .btn {
  padding-left: 0.5rem;
  padding-right: 0.625rem;
  padding-top: 0;
  padding-bottom: 0;
}

input {
  font-family: PingFangSC, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 0.75rem;
  line-height: 1rem;
}

.nav-button {
  border-left: 1px solid transparent;
  border-top: 1px solid #1D1D1D;
  border-right: 1px solid #1D1D1D;
  border-bottom: 1px solid #1D1D1D;
  border-radius: 0 1.25rem 1.25rem 0;
  background-color: transparent;
}

.form-control:focus {
  color: #1D1D1D;
  background-color: transparent;
  border-color: #1D1D1D;
  border-right: 1px solid transparent;
  outline: 0;
  box-shadow: none;
}

.btn:focus, 
.btn.focus,
.btn:active:focus {
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:hover {
  background-color: #6c757d;
  border-color: #1D1D1D;
  border-left: 1px solid transparent;
  box-shadow: none;
}

#filter-panel {
  background-color: #F6F6F6;
  /* border-right: 0.0625rem solid #D5D5D5; */
  border-bottom: 1px solid #D5D5D5;

  position: sticky;
  overflow-y: auto;
  z-index: 500;
  /* top: 5.375rem; */
  /* height: (100vh - 5.375rem); */

  /* position: sticky;
  top: 6.54rem;
  height: calc(100vh - 6.54rem);
  z-index: 500;
  overflow-y: auto; */
}

.panel-title {
  color: #333333;
}

.panel-title + .btn-primary-group,
.panel-title + .btn-secondary-group {
  margin-top: 1.375rem;
}

.btn-primary-group > .btn, 
.btn-secondary-group > .btn {
  height: 1.875rem;
  letter-spacing: -0.013rem;
  padding-left: 1.75rem;
  padding-right: 1rem;
  border: transparent;
  vertical-align: middle;
  position: relative;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.btn-primary-group .btn-block + .btn-block {
  margin-top: 0.75rem;
}

.btn-secondary-group .btn-block + .btn-block {
  margin-top: 1rem;
}

/* .btn-primary-group {
  margin-bottom: 4rem;
} */

.btn-primary-group > .btn {
  height: 1.875rem;
  color: #333333;
  text-transform: uppercase;
  border-radius: 0.125rem;
}

.btn-secondary-group > .btn {
  color: #666666;

  border: 0.0625rem solid #666666;
  border-radius: 50rem;
}

.btn-primary-group > .btn span {
/* .small-point { */
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50rem;
  display: inline-block;
  position: absolute;
  left: 0.45rem;
  top: 0.5rem;
}

.btn-primary-group-sm > .btn span {
/* .small-point { */
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50rem;
  display: inline-block;
  position: absolute;
  left: 0.5rem;
  top: 0.45rem;
}

.btn-primary-group > .btn:active,
.btn-primary-group > .btn.active {
  background: #9BC6F480 0% 0% no-repeat padding-box;
}

/* .btn-secondary-group > .btn:focus, */
/* .btn-secondary-group > .btn:focus.active, */
/* .btn-secondary-group > .btn:focus:active, */
.btn-secondary-group > .btn.active,
.btn-secondary-group > .btn:active,
.btn-secondary-group > .btn:hover {
  background: #D6E5F5 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #D6E5F5;
  color: #333333;
}

.btn-secondary-group > .btn span {
  content: "";
  /* background-color: #505050; */
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0.5rem;
  top: 0.45rem;
}

.btn-secondary-group-sm > .btn span {
  content: "";
  /* background-color: #505050; */
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  left: 0.1rem;
  top: 0.1rem;
}

/* Sweep from Right */
.btn-primary-group > .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.btn-primary-group > .btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  background: #9EC5F2;
  width: 0.5rem;
  -webkit-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-primary-group > .btn:focus:after, 
.btn-primary-group > .btn:active:after,
.btn-primary-group > .btn.active:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Fade */
.btn-primary-group > .btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.btn-primary-group > .btn:hover, 
.btn-primary-group > .btn:focus,
.btn-primary-group > .btn:active
.btn-primary-group-sm > .btn:hover, 
.btn-primary-group-sm > .btn:focus,
.btn-primary-group-sm > .btn:active {
  background-color: #9BC6F480;
}

.btn-primary-group-sm {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.btn-primary-group-sm > .btn,
.btn-secondary-group-sm > .btn {
  white-space: nowrap;
  position: relative;
  border-radius: 50rem;
  /* font-size: 0.625rem; */
  /* font-weight: bold; */

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.btn-primary-group-sm > .btn-block + .btn-block {
  margin-top: 0;
  margin-left: 0.25rem;
}

.btn-secondary-group-sm > .btn {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.btn-secondary-group-sm {
  display: flex;
  flex-wrap: wrap;
}

.btn-secondary-group-sm > .btn {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

  flex: 1 1 auto;
}

.card-deck .card-img {
  object-fit: cover;
  max-width: 25.5rem;
  vertical-align: middle;
  max-height: 12.75rem;

  border-radius: 0;
}

.back .img-overlay {
  background-image: url(assets/media/zooming.svg);
  position: absolute;
  bottom: 0.5rem;
  background-color: rgb(51, 51, 51, 0.75);
  background-position: center;
  height: 2rem;
  width: 2rem;
  float: right;
  right: 1.25rem;
  border-radius: 0.25rem;
  background-repeat: no-repeat;
  display: none;
}

.back .img-overlay:hover {
  cursor: pointer;
}
/* .card-deck .img-overlay:hover {
  display: block;
} */

/* .img-overlay > h5,
.img-overlay > p {

} */

.display-title {
  font-size: 1rem;
  color: #333333;

  /* padding-left: 0.5rem; */
  margin-bottom: 0.5rem;
}

.display-title span {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50rem;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  margin-top: 0.125rem;
  /* left: 1.875rem; */
}

.display-desc {
  color: #666666;
  text-align: justify;

  padding-left: 0.5rem;
  margin-bottom: 0.625rem;
}

.shadow {
  box-shadow: 5px 5px 20px #8D8D8DB3;
}

.card-deck > .trans-3d {
  /* padding-left: 0;
  padding-right: 0; */

  height: 34.5rem;
  min-height: 34.5rem;
  /* width: 21.5rem;
  max-width: 21.5rem; */
}

.card-deck .card {
  margin-left: 0;
  margin-right: 0;
  border: transparent;
  border-radius: 0.625rem;
  height: 100%;
}

.card-header {
  color: #FFFFFF;

  padding: 0.75rem 1.375rem 0.75rem;
  border-bottom: 0;
}

.card-header:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
}

.card-header > h4 {
  /* line-height: 1.5rem; */
  font-size: 1rem;
  margin-bottom: 0rem;
}

/* .card-header > h4,
.card-header p {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
} */

.card-header p {
  margin-bottom: 0;
}

.card-header span {
  content: "";
  width: 32px;
  height: 32px;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 0.875rem;
  right: 1.25rem;
}

.card-body {
  padding: 0.875rem 1.375rem;

  display: -ms-flexbox !important;
  display: flex !important;

  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.card-body > .card-subtitle {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.125rem;
  margin-top: 0;
}

.card-body > p {
  line-height: 0.875rem;
  margin-bottom: 1.25rem;
  text-align: justify;
  color: #666666;

  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 8; 
  -webkit-box-orient: vertical; 
}

.card-body > h6{
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.caption {
  overflow: hidden;
  line-height: 1.25rem;
}

.card-footer {
  padding-left: 1.625rem;
  padding-right: 1.625rem;
  padding-top: 1.125rem;
  padding-bottom: 2.25rem;
  
  background-color: transparent;
  /* z-index: 500; */
}

.card-footer a {
  /* display: inline-block; */
  font-size: 0.875rem;
  color: #1783FF;
}

.card-footer a:before {
  content: url(assets/media/link.svg);
  width: 14px;
  height: 14px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  position: relative;
  top: 0.25rem;
  margin-right: 0.5rem;
}

.card-bottom {
  padding-top: 1rem;

  display: -ms-flexbox !important;
  display: flex !important;

  -ms-flex-align: center !important;
  align-items: center !important;

  margin-top: auto !important;

  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.card-bottom > .btn {
  color: #FFFFFF;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  width: 7.25rem;

  padding: 0.5rem 0.875rem;

  /* transform: translateZ(40px);
  transform-style: preserve-3d;
  transition: 300ms ease; */
}

.card-bottom > .card-num {
  color: #333333;
  font-weight: normal;
}

/* card animation */
.front, .back {
  position: absolute;
  /* height: 100% !important; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.back {
  transform: rotateY(-180deg);
}

.modal {
  background-color: rgba(51, 51, 51, 0.72);
}

.modal-content {
  border: transparent;
  width: 37.5rem;
  box-shadow: 5px 5px 20px #5d5d5d;
}

.modal-header {
  font-size: 1rem;
  color: #FFFFFF;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.modal-title {
  font-size: 1rem;
  color: #FFFFFF;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/* .modal-header > span {
  font-size: 0.875rem;
  color: #FFFFFF;
  align-self: flex-end;
} */

.modal-footer{
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.modal-body {
  padding: 0;
  height: 20.75rem;
  background-repeat: no-repeat;
  background-position: center;
}

button.close {
  color: #FFFFFF;
  opacity: 0.75;
}

button.close:hover {
  color: #FFFFFF;
  opacity: 1;
}

.close:not(:disabled):not(.disabled):hover, 
.close:not(:disabled):not(.disabled):focus {
  opacity: 1;
  outline: none;
}